In [1]:
import psycopg2
conn = psycopg2.connect(dbname="postgres", user="postgres", password="Qwerty123!!", host="localhost", port="5432")
conn.autocommit = True
cur = conn.cursor()
cur.execute("CREATE DATABASE training_db")
conn.close()
print("Made a training box!")

DuplicateDatabase: database "training_db" already exists

In [3]:
import psycopg2
conn = psycopg2.connect(dbname="training_db", user="postgres", password="Qwerty123!!", host="localhost", port="5432")
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS toys")
conn.commit()
print("Cleared the old toys list!")
conn.close()

Cleared the old toys list!

In [4]:
conn = psycopg2.connect(dbname="training_db", user="postgres", password="Qwerty123!!", host="localhost", port="5432")
cur = conn.cursor()
cur.execute("CREATE TABLE toys (id SERIAL PRIMARY KEY, name TEXT)")
conn.commit()
print("Made a toys list in my big toy box!")
conn.close()

Made a toys list in my big toy box!

In [ ]:
conn = psycopg2.connect(dbname="training_db", user="postgres", password="Qwerty123!!", host="localhost", port="5432")
cur = conn.cursor()
cur.execute("CREATE TABLE toys (id SERIAL PRIMARY KEY, name TEXT)")
conn.commit()
print("Made a toys list in my big toy box!")
conn.close()

NameError: name 'psycopg2' is not defined

In [5]:
# Insert toys into the table (store my toys in the big toy box)
conn = psycopg2.connect(dbname="training_db", user="postgres", password="Qwerty123!!", host="localhost", port="5432")
cur = conn.cursor()
cur.execute("INSERT INTO toys (name) VALUES ('car')")
cur.execute("INSERT INTO toys (name) VALUES ('ball')")
cur.execute("INSERT INTO toys (name) VALUES ('doll')")
conn.commit()
print("Added my toys to the big toy box!")
conn.close()

Added my toys to the big toy box!

In [6]:
# Retrieve toys from the table (find my toys in the big toy box)
conn = psycopg2.connect(dbname="training_db", user="postgres", password="Qwerty123!!", host="localhost", port="5432")
cur = conn.cursor()
cur.execute("SELECT name FROM toys")
toys_list = cur.fetchall()  # Get all the toys
print("Here are the toys I found in my big toy box:", toys_list)
conn.close()

Here are the toys I found in my big toy box: [('car',), ('ball',), ('doll',)]

In [1]:
conn = psycopg2.connect(dbname="training_db", user="postgres", password="Qwerty123!!", host="localhost", port="5432")
cur = conn.cursor()
cur.execute("CREATE TABLE toys (id SERIAL PRIMARY KEY, name TEXT)")
conn.commit()
print("Made a toys list in my big toy box!")
conn.close()

NameError: name 'psycopg2' is not defined